CREATE OR REPLACE FUNCTION public.handle_new_booking_notification() 
RETURNS TRIGGER AS 
BEGIN
    INSERT INTO public.notifications (user_id, type, title, message, link_url)
    VALUES (
        NEW.planner_id, 
        'booking_new', 
        'New Booking Request', 
        'You have received a new booking request for a ' || NEW.event_type || '.',
        '/dashboard/planner#bookings'
    );
    RETURN NEW;
END;
 LANGUAGE plpgsql SECURITY DEFINER;

CREATE OR REPLACE FUNCTION public.handle_booking_status_notification() 
RETURNS TRIGGER AS 
BEGIN
    IF (OLD.status != NEW.status) THEN
        INSERT INTO public.notifications (user_id, type, title, message, link_url)
        VALUES (
            NEW.client_id, 
            'booking_update', 
            'Booking Status Update', 
            'Your booking for ' || NEW.event_type || ' has been ' || NEW.status || '.',
            '/dashboard/client#bookings'
        );
    END IF;
    RETURN NEW;
END;
 LANGUAGE plpgsql SECURITY DEFINER;

CREATE OR REPLACE FUNCTION public.handle_new_message_notification() 
RETURNS TRIGGER AS 
DECLARE
    recipient_id UUID;
BEGIN
    SELECT 
        CASE 
            WHEN client_id = NEW.sender_id THEN planner_id 
            ELSE client_id 
        END INTO recipient_id
    FROM public.conversations 
    WHERE id = NEW.conversation_id;

    IF recipient_id IS NOT NULL THEN
        INSERT INTO public.notifications (user_id, type, title, message, link_url)
        VALUES (
            recipient_id, 
            'message_new', 
            'New Message', 
            'You have received a new message.',
            '/dashboard/messages'
        );
    END IF;
    RETURN NEW;
END;
 LANGUAGE plpgsql SECURITY DEFINER;
