CREATE OR REPLACE FUNCTION public.handle_new_message() 
RETURNS TRIGGER AS 
BEGIN
    UPDATE public.conversations
    SET last_message = NEW.content,
        last_message_at = NEW.created_at
    WHERE id = NEW.conversation_id;
    RETURN NEW;
END;
 LANGUAGE plpgsql SECURITY DEFINER;

DROP POLICY IF EXISTS "Users can update their conversations" ON public.conversations;
CREATE POLICY "Users can update their conversations" 
    ON public.conversations FOR UPDATE
    USING (auth.uid() = client_id OR auth.uid() = planner_id)
    WITH CHECK (auth.uid() = client_id OR auth.uid() = planner_id);

DROP POLICY IF EXISTS "Users can send messages to their conversations" ON public.messages;
CREATE POLICY "Users can send messages to their conversations" 
    ON public.messages FOR INSERT 
    WITH CHECK (auth.uid() = sender_id);
